{% extends "lib/base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Artascope</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/task">Task</a>
            <a class="nav-item nav-link active" href="/user">User</a>
            <a class="nav-item nav-link" href="/scheduler">Scheduler</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="jumbotron .bg-transparent">
    <h1 class="display-4">Captcha</h1>
    <p class="lead">enter captcha of {{ user.username }}</p>
</div>
<div>
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCaptcha">Captcha</label>
                <input type="text" class="form-control" id="inputCaptcha" name="captcha"
                       value="">
            </div>
        </div>
        <hr class="my-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
