<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        .font-blue {
            color: blue;
        }

        .font-green {
            color: green;
        }

        .font-highlight {
            color: blueviolet;
        }
    </style>
</head>
<body>
<h2>File Status: <a href="/tasklist">{{ task_name }}</a>
    {% for one_task in tasks %}
    {%- if one_task.task_name == task_name %}
      {{ one_task.cnt_done }} / {{ one_task.cnt_total }}
    {% endif %}
    {%- endfor %}
</h2>
    <table>
        <tr>
            <th>No.</th>
            <th>File Id</th>
            <th>File Name</th>
            <th>File Size (Bytes)</th>
            <th>File Create Time</th>
            <th>File Status</th>
        </tr>
        {% for one_file in files %}
        {% set statusclass = "font-green" if one_file.status==100 else "font-blue" if one_file.status>0 else "" %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ one_file.file_id }}</td>
            <td>{{ one_file.filename }}</td>
            <td>{{ one_file.size }}</td>
            <td>{{ one_file.created_ts|unixtime_to_str }}</td>
            <td class="{{ statusclass }}">{{ one_file.status }}%</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
