<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        .font-red {
            color: red;
        }

        .font-green {
            color: green;
        }

        .font-highlight {
            color: blueviolet;
        }
    </style>
</head>
<body>
    <h2>Task List</h2>
    <table>
        <tr>
            <th>Task Name</th>
            <th>Created Time</th>
            <th>File Done/Handle/Total</th>
        </tr>
        {% for one_task in tasks %}
        <tr>
            <td><a href="/filestatus/{{ one_task.task_name }}">{{ one_task.task_name }}</a></td>
            <td>{{ one_task.created_dt|unixtime_to_str }}</td>
            <td>{{ one_task.cnt_done }} / {{ one_task.cnt_total }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
